<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Escola Admin</title>

    <!-- Material Design Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom -->
    @Styles.Render("~/Content/style.css")
</head>
<body>
    <div class="header">
        <div class="menu">
            @Html.ActionLink("Minha Escola", "Edit", "PerfilEscola")
            @Html.ActionLink("Criar comunicado", "Create", "Mural")
            @Html.ActionLink("Visualizar comunicados", "Index", "Mural")
            
        </div>
    </div>

        <div class="container">
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
